.fix
  float left

.clearfix
  zoom:1
  &:after
    content ""
    display block
    clear both

img
  vertical-align middle

html
  width 100%
  line-height: 1.6;
  font-family: 'Microsoft Yahei',-apple-system-font,Helvetica Neue,sans-serif;
  body
    width 100%
    overflow hidden
    background-color #fff

@keyframes nnh{
  from{background-position: 2px;}
  to{background-position: -98px;}
}

